    body {
        margin: 0px;
    }
    a {
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    .header {
        position: fixed;
        /* 固定 */
        top: 0;
        /* 一番上に表示 */
        width: 100%;
        /* 中央に表示 */
        background-color: #444444;
        padding: 5px;
    }
    .header a {
        color: #CCCCCC;
    }
    .header a:visited {
        color: #CCCCCC;
    }
    #title {
        position: relative;
        left: 50px;
        color: #CCCCCC;
        font-size: x-large;
    }
    #text_logout {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        font-size: large;
        padding: 10px 50px;
    }
    .contents {
        width: 700px;
        overflow: auto;
        /* スクロールする範囲を制御 */
        margin: 0px auto;
        padding: 70px 0 70px;
        /* コンテンツ上下にスペース */
        text-align: center;
    }

    #button {
        color: #FFFFFF;
        margin: 0 auto;
        width: 150px;
        text-align: center;
        background-color: #3498db;
        display: block;
        text-decoration: none;
        padding: 8px;
        border-radius: 6px;
        box-shadow: 0px 3px 0px 0px #3468bb;
    }

    .contents a:visited {
        color: #FFFFFF;
      }

    .main {
        background-color: #dddddd;
    }
    .post {
        margin: 20px;
        background-color: #ffffff;
        padding: 20px 100px 50px 100px;
        word-wrap: break-word;
        /*文字をはみださない*/
    }
    .post a:visited {
        color: #000000;
      }
        }
    #icon{
        position: relative;
        left: 50px;

    }

    .footer {
        position: fixed;
        /* 固定 */
        bottom: 10px;
        left: 50px;
        color: gray;
        font-size: 90%;
    }
